#cover {
  background: url('images/IMG_7077.jpg') center center no-repeat ;
  background-size: cover;
  text-align: center;
  height: 100%;
  display: flex;
  align-items: center;
}

article{
  color: white; 
}
body {
    background-color: #B2AC88;
  }
  
  .nav-link {
    color: #B2AC88 !important;
  }
 
  .c-img{
  object-fit: contain;
  object-position: center;
  height: 50vh;
  margin-bottom: 50px;
  margin-top: 50px;
  }
    
  .about{
    text-align: center;
  }
  
  .about-img{
    height: 750px;
    width: 100%;
    object-fit: contain;
  }
  
  .intro-text{
    text-align: center;
  }


  .thumbnail{
    height: 200px;

  }

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 1; /* Vertically center the text there */
    justify-content: center;
    text-align: center;
  }

  .footer-text{
    color: #B2AC88 !important
  }

  .envelope-favicon{
    margin-left: 10px;
  }

  .insta-favicon{
    margin-left: 10px;
  }
  
 
